# Peer Review Assignment - Data Engineer - ETL

23 July 2022

## Objectives

In this final part you will:

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json`
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

## Imports

Import any additional libraries you may need here.

In [116]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

## Extract

In [117]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [118]:
columns=['Name','Market Cap (US$ Billion)']
bank_file = 'bank_market_cap_1.json'

In [119]:
def extract(file_to_process=bank_file):
  df = extract_from_json(file_to_process)
  df.columns=columns
  return df

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [120]:
rates = pd.read_csv('exchange_rates.csv', index_col=0)
rates.head()

        Rates
AUD  1.297088
BGN  1.608653
BRL  5.409196
CAD  1.271426
CHF  0.886083

In [121]:
exchange_rate = rates.loc['GBP']['Rates'] 
print(exchange_rate)

0.7323984208000001

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)\` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [122]:
def transform(df, exchange_rate):
    df['Market Cap (US$ Billion)'] = df['Market Cap (US$ Billion)'].mul(exchange_rate)
    df['Market Cap (US$ Billion)'] = df['Market Cap (US$ Billion)'].round(3)
    df.rename(columns={'Market Cap (US$ Billion)':'Market Cap (GBP$ Billion)'}, inplace=True)
    return df

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [123]:
def load(df):
    df.to_csv('bank_market_cap_gbp.csv', index=False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [124]:
def log(message):
    timestamp_format = '%Y-%M-%D %H:%M:%S'
    now = datetime.now()
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as file:
        file.write(timestamp + ',' + message + '\n')

## Running the ETL Process

In [125]:
log("ETL Job Started")
log("Extract phase Started")

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [126]:
extracted_data = extract(bank_file)
extracted_data.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [127]:
log("Extract phase Ended")

### Transform

In [128]:
log("Transform phase Started")

In [129]:
transformed_data = transform(extracted_data, exchange_rate)
transformed_data.head()

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

In [130]:
log("Transform phase Ended")

### Load

In [131]:
log("Load phase Started")
log("Load phase Ended")

##Question authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

##Other contributors

Rav Ahuja

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).